.thumb-vertical {
  background-color: #f6f6f6;
  border-radius: inherit;
  cursor: pointer;
}

.thumb-vertical-dark {
  background-color: #9b9b9b;
  border-radius: inherit;
  cursor: pointer;
}

.thumb-vertical-messageBox {
  background: none;
}

.thumb-hide {
  background: none;
}
